<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


	<link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">	

	<style type="text/css">
		#principal
		{
			background-color:  rgba(255, 241, 118, 0.5);
		}
		.one
		{
			
			text-align: center;
			font-family: 'Satisfy', cursive;

		}
		.one .name-surname
		{
			position: relative;	
		}
		.one .name-surname h1 
		{
			margin-bottom: 20%;
		}
		.two img
		{
			width: 100%;
		}
		.three
		{
			font-family: 'Satisfy', cursive;
			text-align: center;
		}
		#principal .icon-special
		{
			width: 30%;
			height: 30%;
		}
		.centering
		{
			text-align: center;
		}
		.under-bar
		{
			background-color:  rgba(179, 182, 183, 0.5);
		}
		.under-bar .icon-special
		{
			width: 20%;
			height: 60%;
		}
		.under-bar .centering
		{
			margin-top: 2%;
			margin-bottom: 2%;
		}
		@media(max-width: 765px){
			.one .name-surname
			{
				position: relative;
				top :0%;
			}
		}
	</style>
</head>
<body>


	<div class="container-fluid" id="principal">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 one">
				<div class="name-surname">
					<h1 id="name"></h1>
					<h1 id="surname"></h1>
					<h1 id="birthday"></h1>
					<h1 id="level"></h1>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4 two">
				<!--<img src="http://localhost:8888/uploads/images/img_7745-5dae436a45230.jpeg">-->
				<img  id="photo" src="https://www.asmonaco.com/wp-content/uploads/2019/08/fabregas-trombi.png">
			</div>
			<div class="col-12 col-sm-12 col-md-4 three">
				<img src="https://svgsilh.com/svg/1341374.svg" class="icon-special">
				<br>
				<h4 id="team"></h4>
				<br><br><br>
				<img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Soccer-ball_%28example%29.svg" class="icon-special">
				<br><br><br>
				<h4 id="position"></h4>
			</div>
		</div>
	</div>
	<div class="container-fluid under-bar">
		<div class="row">
			<div class="col-12 col-sm-4 centering">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Football_pictogram.svg/300px-Football_pictogram.svg.png" class="icon-special">
				<br>
				<h4 id="strong_foot"></h4>
			</div>
			<div class="col-12 col-sm-4 centering">
				<img src="https://cdn.pixabay.com/photo/2018/02/26/14/19/libra-3183164_960_720.png" class="icon-special">
				<br>
				<h4 id="weight"></h4>
			</div>
			<div class="col-12 col-sm-4 centering">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Cc-by_new.svg/1024px-Cc-by_new.svg.png" class="icon-special">
				<br>
				<h4 id="size"></h4>
			</div>
		</div>
		
	</div>

	<canvas id="ctx" width="1000" height="350"></canvas>

	<table class="table">
  <thead>
    <tr>
      <th scope="col">Acceleration</th>	
      <th scope="col">10 m</th>
      <th scope="col">20 m</th>
      <th scope="col">40 m</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3,4</th>
      <td>2,5 sec</td>
      <td>3,23 sec</td>
      <td>8,89 sec</td>
    </tr>
  </tbody>
</table>


		<script>
		window.onload = function(){
			function drawSportPlayer(sportPlayer)
			{
				
				document.getElementById('name').innerHTML = sportPlayer[0].name;
				document.getElementById('surname').innerHTML = sportPlayer[0].surname;
				document.getElementById('birthday').innerHTML = sportPlayer[0].birthday;
				document.getElementById('level').innerHTML = sportPlayer[0].level;
				//document.getElementById('photo').src = "http://localhost:8888/uploads/images/" + sportPlayer[0].image_filename;
				document.getElementById('team').innerHTML = sportPlayer[0].team;
				document.getElementById('position').innerHTML = sportPlayer[0].position;
				document.getElementById('strong_foot').innerHTML = sportPlayer[0].strong_foot;
				document.getElementById('weight').innerHTML = sportPlayer[0].weight + " kg";
				document.getElementById('size').innerHTML = sportPlayer[0].size + " cm";
			}
			function graphique(){
				console.log('initialisation du graphique...')
				var myLineChart = new Chart(ctx, {
				    type: 'line',
				    data: {
				    		labels: window.statsValuesPlayer[1],
				    		datasets : [{
				    			label : 'Nombre de jongle',
				    			backgroundColor: 'rgba(0,0,250, 0.5)',
				    			borderColor: 'rgb(50, 50,250)',
				    			data: window.statsValuesPlayer[0]
				    		}]
				    	},
				    	options: {
					        scales: {
					            yAxes: [{
					                ticks: {
					                    suggestedMin: 0,
					                    suggestedMax: 50
					                }
					            }]
					        }
    					}
				});
			}

			window.idSportPlayer = "{{ id }}"
			var getJSON = function(url, callback) {
			    var xhr = new XMLHttpRequest();
			    xhr.open('GET', url, true);
			    xhr.responseType = 'json';
			    xhr.onload = function() {
			      var status = xhr.status;
			      if (status === 200) {
			        callback(null, xhr.response);
			      } else {
			        callback(status, xhr.response);
			      }
			    };
			    xhr.send();
			};
			getJSON("http://localhost:8888/garrincha/api/caracteristics/player/web/" + window.idSportPlayer,
			function(err, data) {
			  if (err !== null) {
			    window.sportPlayers = data;
			  } else {
			  	console.log(data);
			  	drawSportPlayer(data);
			  }
			});
			getJSON("http://localhost:8888/garrincha/api/stats/sport/player/2",
			function(err, data) {
			  if (err !== null) {
			    window.statsValuesPlayer = data;
			    console.log(data);
			    graphique();
			  } else {
			  	window.statsValuesPlayer = data;
			    console.log(data);
			    graphique();
			  }
			});
		};
		</script>
</body>
</html>
